@import './dimensions';
@import './colors';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  margin: $wide $base;
  margin-bottom: 100px;
}

.cf {
  *zoom:1;
  *min-height:0;
}

.cf:after {
  content:"";
  display:block;
  clear:both;
}

.top-wrapper {
  margin: 100px 50px;
  width: 100%;
  height: 100%;

  .top-title {
    width: 500px;
    height: 100%;
    float: left;
    #logo {
      font-size: $very_huge;
      display: block;
      background-color: $green;
      color: white;
      padding: 10px;
      width: 250px;
      text-align: center;
    }
  }

  .top-form {
    width: auto;
    label {
      display: block;
      float: left;
      width: 150px;
    }
    input[type="text"], input[type="password"] {
      width: 200px;
    }
    a {
      display: block;
    }
    .twitter-form {
    }
  }
}

header {
  padding: $moderate;
  background-color: white;
  color: $green;
  border-bottom: inset 1px $gray;
  a.logo-mark {
    float: none;
    text-decoration: none;
    font-weight: bold;
  }
  a {
    display: inline-block;
    float: right;
    color: $green;
    margin: auto $wide;
    text-decoration: none;
  }
}

footer {
  margin-top: 50px;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  color: $green;
  border-top: solid 1px $light_gray;
  p {
    text-align: center;
    padding: $moderate;
    margin: 0;
    font-size: $normal;
  }
}

.btn {
  margin: $wide;
  padding: $moderate $very_wide;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  background-color: $green;
  border-style: none;
  text-decoration: none;
}
