@import './dimensions';
@import './colors';

.table-wrapper {
  table {
    border-collapse: collapse;
    tr {
      border-bottom: solid 1px $gray;
      th {
        width: 150px;
        text-align: left;
      }
      td {
        width: 500px;
      }
    }
  }
}
