@import './dimensions';
@import './colors';

div.tip-show {
  margin-bottom: $very_wide;
  .title {
    margin-top: -10px;
    margin-right: -$base;
    margin-left: -$base;
    background-color: $green;
    height: 200px;
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: $base;
      display: block;
      float: left;
      color: white;
      line-height: 150px;
    }
    .option {
      margin-left: $base;
      padding: 5px 10px;
      background-color: $light_gray;
      display: inline;
      a {
        text-decoration: none;
      }
      a, a:hover, a:visited, a:link, a:active {
        color: $dark_gray;
      }
    }
    .stock {
      text-align: right;
      margin-right: 100px;
      line-height: 150px;
      input, a {
        background-color: $light_gray;
        color: $dark_gray;
        font-size: 1.1em;
        padding: 5px 40px;
        border-style: none;
        text-decoration: none;
      }
    }
  }
  .content {
  }
}

div.tip-edit {
  label {
    padding: 10px;
    font-weight: bold;
    display: block; 
    width: 100px;
  }
  input[type="text"] {
    margin-left: $moderate;
    padding: $wide;
    width: 800px;
  }
  textarea {
    margin-left: $moderate;
    padding: $wide;
    height: 300px;
    width: 800px;
  }
}

div.tips-wrapper {
  .tip {
    margin-bottom: $wide;
    border-top: solid 1px $gray;
    span.name {
      margin-left: $wide;
      display: block;
      font-size: $normal;
    }
    span.title {
      margin-left: $wide;
      font-size: $huge;
      font-weight: bold;
      a {
        text-decoration: none;
      }
    }
  }
}

div.comments-show {
  width: 800px;
  div {
    border-top: solid 1px $gray;
    .name {
      font-size: $normal;
      float: left;
    }
    .time {
      font-size: $normal;
      text-align: right;
    }
    .content {
      border-top: solid 1px $light_gray;
      font-size: $large;
      margin-top: $wide;
    }
  }
  textarea {
    margin-left: $moderate;
    padding: $wide;
    height: 100px;
    width: 100%;
  }
}
