- @title = @tip.title
.tip-show
  .title
    %span= @tip.title
    - if @tip.user_id == current_user.id
      .option
        = link_to '投稿を編集する', edit_tip_url(@tip)
        = link_to '削除', [ :tip ], method: :delete, data: { confirm: '本当に削除しますか?' }
  .content
    %div= markdown(@tip.content)
  // TODO: ユーザーによって変更できるように

